* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
    src: url(./Source_Serif_Pro/SourceSerifPro-Light.ttf), url(./Source_Serif_Pro/SourceSerifPro-Regular.ttf), url(./Source_Serif_Pro/SourceSerifPro-SemiBold.ttf);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}